
/* Inspiration https://dribbble.com/shots/14514078-Simple-Calculator-004 */

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(158, 82, 178, 1) 64%, rgba(252, 70, 107, 1) 100%);
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


/* Container Styles for the main  */

#display-area {
    color: black;
    display: flex;
    font-size: 32px;
    text-align: right;
    height: max-content;
    border: none;
    box-shadow: none;
    outline: none;
    background: transparent;
    width: 100%;
    max-width: 600px;
    margin-right: 20px;
}

.inside-box {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    max-width: 280px;
    gap: 10px;
}

.bottom-calculator {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.inside-box > .h3-style {
    text-align: left;
    align-self: flex-start;
    padding: 0px 10px;
    color: rgb(98, 17, 138);
}

/* button styles  */

.btn {
    font-size: 22px;
    background-color: black;
    color: plum;
    width: 70px;
    height: 70px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: plum;
    color: black;
    box-shadow: 0 0 10px plum;
}

.equal {
    background-color:rgb(98, 17, 138);
    color: whitesmoke;
    border-bottom-right-radius: 20px;
}

.decimal {
    border-bottom-left-radius: 20px;
}

.clear {
    background-color: lightcoral;
    color: whitesmoke;
}


/* footer design */
footer {
    display: flex;
    text-align: center;
    padding: 1rem;
    color: #fff;
    justify-content:space-between;
    align-items: center;    
}

footer a svg {
    fill: #fff;
    transition: transform 0.2s ease;
}

footer a:hover svg {
    transform: scale(1.1);
    fill: plum;
}

