
/* Inspiration https://dribbble.com/shots/14514078-Simple-Calculator-004 */

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




/* Container Styles for the main  */
.container {
    display: flex;
    flex-direction: row;
    height: 400px;
    justify-content: center;
}


.top-calculator {
    height: 100px;
    border: 1px solid salmon;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    /* overflow: hidden; */
    text-align: center;
}

.inside-box {
    display: flex;
    flex-direction: column;
    background-color: beige;
    border: 2px solid lightblue;
    flex-wrap: wrap;
    width: 200px;
    border: 1px solid salmon;
    gap: 10px;

}

.bottom-calculator {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}


/* button styles  */

.btn {
    font-size: 16px;
    background-color: black;
    color: plum;
    padding: 5px 10px;

}