.container {
    display: flex;
    flex-direction: row;
    height: 400px;
    justify-content: center;
}


.inside-box {
    display: flex;
    flex-direction: column;
    background-color: beige;
    border: 5px solid red;
}

.

